/* ejemplo2.css   ME19004  */
pais {background-color:blue;}
departamento {background-color:red; display:block;} cabecera {color:white;font-size:1cm; display:block;} habitantes {color:black;font-size:1cm; display:block;}
altura {color:yellow;font-size:1cm; display:block;}

