@charset "UTF-8";
/* CSS Document ME19004 */

*{
	margin:0;
	padding:0;
}

fichero {
	background-color:#4361ee;
	color:white;	
	font-family:georgian;
}

ficha[id]::before {
	content:"Id: "attr(id)" Fecha: "attr(fechaingreso);
	color:white;
	font-weight:bold;
	display:block;
	text-align:center;
	font-family:Arial;
}

ficha {
	width:700px;
	margin:10px auto;
	padding:10px;
	background-color:#006494; 
	font-size:1.4em;
	display:block; 
	color:#ff6000;
}


nombre {
	text-align:center;
	display:inline;
} 

apellido {
	text-align:center;
	display:inline;
}

telefono {
	display:block;
}

email {
	display:block;
}

UrlWebPersonal {
	display:block;
}

direccion {
	display:block;
}


dui {
	display:block;
}

isss{
	display:block;
}

afp{
	display:block;
}
